   <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"
            ><img class="logo" src="/logo.png" alt="Logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if (user) { %>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/<%= user._id %>"
                          ><img
                            style="max-width: 20px; border-radius: 50%"
                            src="<%=user.profileUrl%>"
                            alt=""
                          />
                    Profile
                    </a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  ><i class="fas fa-bell"></i>
                    Νotifications <% if (notifications.length !== 0) { %>
                        <span id="notification-badge" class="badge bg-danger"><%= notifications.length %></span>
                      <% } %>
                  </a>
                  <ul id="notifications" class="dropdown-menu p-1" aria-labelledby="navbarDropdown">
                    <% if (notifications.length === 0) { %>
                      <li id="zero-notifications" class="dropdown-item disabled">You have 0 notifications</li>
                    <% } else {%>
                      <% notifications.forEach(notification => { %>
                        <% if (notification.author && notification.type === "friend-request") { %>
                            <div class=" item d-flex justify-content-start align-items-center">
                              <a href="/profile/<%= notification.author._id %>">
                                <img style="width: 100%; height: auto; max-width: 30px; border-radius: 50%;" class="img-thumbnail img-fluid" src="<%= notification.author.profileUrl %>" alt="user profile">
                              </a>
                              <li><a class="dropdown-item" href="/profile/<%= notification.author._id %>"><%= notification.author.name %> wants to be your friend</a></li>
                              <button type="button" onclick="acceptFriendRequest('<%= notification.friendship %>')" class = "btn btn-outline-primary btn-sm m-1 ">  Accept</button>
                            </div>
                          <% } else if (notification.author && notification.type === "like") {%>
                            <div id= "<%= notification._id %>" data-url="/post/<%= notification.post %>" class="item d-flex justify-content-start align-items-center">
                              <a href="/profile/<%= notification.author._id %>">
                                <img style="width: 100%; height: auto; max-width: 30px; border-radius: 50%;" class="img-thumbnail img-fluid" src="<%= notification.author.profileUrl %>" alt="user profile">
                              </a>
                              <li><a class="dropdown-item"  href="#"><%= notification.author.name %> liked your post</a></li>
                            </div>
                          <% } else if (notification.author && notification.type === "comment") { %>
                            <div id= "<%= notification._id %>" data-url="/post/<%= notification.post %>" class="item d-flex justify-content-start align-items-center">
                              <a href="/profile/<%= notification.author._id %>">
                                <img style="width: 100%; height: auto; max-width: 30px; border-radius: 50%;" class="img-thumbnail img-fluid" src="<%= notification.author.profileUrl %>" alt="user profile">
                              </a>
                              <li><a class="dropdown-item" href="#"><%= notification.author.name %> commented on your post</a></li>
                            </div>
                          <% } %>
                          
                      <% }) %>
                    <% } %>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/all"><i class="fas fa-user-friends"></i> Members</a></li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/auth/logout"
                    ><i class="fas fa-sign-out-alt"></i> Log out</a
                  >
                </li>
                <% } %>
            </ul>
            <div>
              <% if( user ) {%>
              <form class="d-flex search-form">
                <input
                  autocomplete="off"
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                  id="search"
                  name="search"
                  list="suggestions"
                />
                <button class="btn btn-outline-success search-btn" type="submit">
                  Search
                </button>
              </form>
            <% } %>
              <% if (user) { %>
              <ul class="list-group p-2 d-flex search-results">
              </ul>
              <% } %>
            </div>
          </div>
        </div>
      </nav>
      <% if (user) { %>
        <script src="/search.js" defer></script>
        <script src="/friendShared.js" defer></script>
        <script defer>
          document.querySelectorAll(".item").forEach((element) => {
            element.addEventListener("click", async (e) => {
              const res = await fetch(`/notification/${element.id}/seen`, {
                method: "post",
                credentials: "include",
                headers: {
                  "Content-Type": "application/json",
                },
              });
              const data = await res.json();
              if(data.ok){
                window.location.href = element.getAttribute("data-url");
              }
            });
          });

        </script>
      <% } %>