<%- include("partials/head", {user: user}) %> 
</head>

<body>
    <%-  include('partials/nav', {user: user}); %>
    <main class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <% allUsers.forEach(user => { %>
             <div class="p-3 m-3 col-sm-2 col-md-2 col-lg-2 col-xll-2 d-flex flex-column justify-content-center align-items-center" style="margin: auto;" >
                 <a class="d-flex flex-column justify-content-center align-items-center" style="text-decoration: none; color: #111; margin: auto;" href="/profile/<%= user._id %>">
                    <img style="width: 100%; max-width: 100px; height: auto; border-radius: 50%;" class="img-thumbnail img-fluid" src="<%= user.profileUrl %>" alt="Users profile">
                    <p style="font-weight: 600;" class="text-center"><%= user.name %></p>
                </a>
             </div>
            <% }) %>
        </div>

    </main>

    <%- include("partials/footer") %>