<%- include("partials/head", {user: user}) %> 

<link rel="stylesheet" href="/shared.css">

</head>

<body>
  <%-  include('partials/nav', {user: user}); %>
  <main id="main" class="container-sm p-4 d-sm-flex flex-sm-column justify-content-sm-center align-items-sm-center align-content-sm-center">
    
    <h2 class="text-uppercase  mb-4" style="margin: 1rem auto;">Home Page</h2>
    
    <!-- create-post -->
    
    <%- include("components/createPost", {user: user}) %>
    
    <h3 class="text-uppercase  mb-4" style="margin: 1rem auto;">Feed</h3>
    
    <section id="feed"  class="container" >
      <div class="posts">
        <script>
          let yes = {};
        </script>
        <% posts.forEach((post) => { %>
          <%- include("components/post", {post: post, user: user}) %>
        <% }) %>
      </div>
    </section>
  
  </main> 
  <!-- Button trigger modal -->
<button style="visibility: hidden; display: none;"  id="click-modal" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
  <script src="shared.js"></script>
  <script>
    const likeBtnArray = document.querySelectorAll(".like");
    
    likeBtnArray.forEach(btn => {
      btn.addEventListener("click", async (e) => {
        const res = await sendLikeRequest(btn.classList[3]);
        const parent = btn.parentElement.parentElement;
        const div = parent.getElementsByClassName("post-interactions")[0];

        if(res.ok){
          if(res.liked){
            yes[btn.classList[3]] = true;
            btn.style.color = "red";
            btn.children[0].classList.remove("far");
            btn.children[0].classList.add("fas");
            btn.children[1].textContent = "Liked"
            div.children[0].textContent = " " + (Number(div.children[0].textContent) + 1);
          }else{
            yes[btn.classList[3]] = false;
            btn.style.color = "black";
            btn.children[0].classList.remove("fas");
            btn.children[0].classList.add("far");
            btn.children[1].textContent = "Like"
            div.children[0].textContent = " " + (Number(div.children[0].textContent) - 1);
          }
        }
      });
    });


    const sendLikeRequest = async (postId) => {
      const res = await fetch("/users/like", {
        method: yes[postId] ? "delete":"post",
        credentials: "include",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({postId: postId}),
      });
      const data = await res.json();
      return await data;
    }

    const commentForms = document.querySelectorAll(".comment-form");
    
    commentForms.forEach( async (form) => {
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const parent = form.parentElement.parentElement;
        const postInput = parent.getElementsByTagName("input")[0];
        const div = parent.parentElement.getElementsByClassName("post-interactions")[0];
        if(postInput.value){
          const data = await commentPost(postInput.classList[1], postInput.value);
          if(data.ok){
            div.children[1].textContent =  " " + (Number(div.children[1].textContent) + 1);
            const comment = createUIComment(data.comment, parent.parentElement.getElementsByClassName("comments")[0].children[1]);
            postInput.value = "";
            comment.scrollIntoView({behavior: "smooth", block: "center", inline: "center"});
          }
        }
      });
    });


    const commentPost = async (postId, content) => {
      const res = await fetch("/users/comment", {
        method: "post",
        credentials: "include",
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          postId,
          content,
        }),
      });
      const data = await res.json();
      return data;
    }

    const showCommentBtns = document.querySelectorAll(".comment-btn");

    const showComments = async (list) => {
      list.forEach(btn => {
        btn.addEventListener("click", async (e) => {
          btn.parentElement.parentElement.getElementsByClassName("comments")[0].classList.toggle("hidden");
          if(btn.parentElement.parentElement.getElementsByClassName("comments")[0].children[1].children.length === 0){
            const data = await fetchComments(btn.classList[0]);
            displayFetchedComments( data.results , btn.parentElement.parentElement.getElementsByClassName("comments")[0].children[1]);
          }
        });
      });
    }

    showComments(showCommentBtns);


    const fetchComments = async (postId) => {
      const res = await fetch(`/post/${postId}/comment`, {
        method: "get",
        credentials: "include",
        headers: {
          'Content-Type': 'application/json'
        },
      });
      const data  = await res.json();
      return data;
    }

    const displayFetchedComments = (list, div) => {
      list.forEach(comment => {
        createUIComment(comment, div);
      });
    }

    const createUIComment = (comment, div) => {
      let updated = Math.floor((Date.now() - Date.parse(comment.updatedAt)) / 1000 / 60);
        let unit = "minutes";
        
        if(updated > 60){
          updated = Math.floor(updated / 60);
          unit = "hours";
        }

        if(updated > 24 && unit === "hours"){
          updated = Math.floor( updated / 24);
          unit = "days";
        }

      const content = document.createElement("div");
        content.innerHTML = `<div id='comment${comment._id}' class="shadow-lg  mb-5 bg-body rounded p-1 m-2 comment">
                              <div class="dropdown">
                                  <i class="option fas fa-ellipsis-v" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li data-bs-toggle="modal" data-bs-target="#editCommentModal${comment._id}"><a class="dropdown-item pointer"><i class="far fa-edit"></i> Edit</a></li>
                                    <li data-bs-toggle="modal" data-bs-target="#deleteCommentModal${comment._id}"><a class="dropdown-item pointer"><i class="far fa-trash-alt"></i> Delete</a></li>
                                  </ul>
                                </div>
                                <div class="row p-0 m-0">
                                  <div class="m-0 p-0">
                                    <a href="profile/${comment.author._id}" class="d-flex justify-content-start align-items-center">
                                      <img style="max-width: 40px;" src="${comment.author.profileUrl}" class="img-fluid img-thumbnail post-img m-1 " alt="Users profile">
                                      <p class="card-title m-1 ">${comment.author.name}</p>
                                    </a> 
                                  </div>
                                  <div class="m-1 p-0">
                                    <div class="card-body m-0 p-0">
                                      <p class="card-text">${comment.content}</p>
                                      <p class="card-text"><small class="text-muted">Last updated ${updated} ${unit} ago</small></p>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            
                            <!-- delete modal popup -->
                            <div class="modal" tabindex="-1" id="deleteCommentModal${comment._id}">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Delete Comment</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <p>Are you sure you want to delete this comment? </p>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button onclick="deleteComment(this.classList[3])" type="button" class="btn btn-danger delete-post  ${comment._id} %>" data-bs-dismiss="modal">Delete</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- delete modal popup -->
                            <div class="modal" tabindex="-1" id="editCommentModal${comment._id}">
    
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Edit Comment</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                  <form class="update-comment" onsubmit="if(event.target.content.value === ''){alert('Comment cant be empty'); return;}else{ updateComment('${comment._id}', event.target.content.value);}">
                                      <div class="modal-body">
                                        <div>
                                          <label class="form-label" for="content">Content</label>
                                          <textarea name="content" style="height: auto; text-align: justify;" class="form-control" rows="15">${comment.content}</textarea>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                </form>
                              </div>
                            </div>
                          </div>
  `;

        
        div.appendChild(content);
        return content;
    } 
  </script>
  <script>
    const hasAvatar = "<%= user.profileUrl %>";

    window.addEventListener('load', async (e) => {
      await loadModal(hasAvatar);
    });

    const requestAvatar = async () => {
      try {
        const response = await fetch("https://randomuser.me/api/?inc=email");
        const data = await response.json();

        const id = data.info.seed;
        const url = `https://gravatar.com/avatar/${id}?s=400&d=robohash&r=x`;
        await displayAvatar(url);
      } catch (error) {
        alert("An Error Occured Please try again");
      }
    }

    const displayAvatar = (url) => {
      document.getElementById("avatar-img").src = url;
    }

    const loadModal = async  (hasAvatar) => {
      if(!hasAvatar){
        const div = document.createElement("div");
        div.innerHTML = `
              <div class="modal fade" data-bs-backdrop="static"  data-bs-keyboard="false" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class=" text-uppercase  mb-4 text-muted modal-title">Select Avatar</h6>
                    </div>
                    <div class="model-body d-flex flex-column justify-content-center align-content-center">
                        <img id="avatar-img" class="img-thumbnail" style="border-radius: 50%; border: 1px solid #111; max-width: 50%; margin: 0 auto;" src="" alt="Avatar">
                        <div class="d-flex justify-content-center align-content-center">
                          <button id="refresh-avatar" class="m-2 btn btn-secondary">Random</button>
                          <button id="save-avatar" class="m-2 btn btn-success">Select</button>
                        </div>  
                    </div>
                  </div>
                </div>
              </div>`
              document.getElementsByTagName("body")[0].appendChild(div);

              document.getElementById("click-modal").click(); 
              
              await requestAvatar();

              const refreshAvatar =  document.getElementById("refresh-avatar");
              refreshAvatar && refreshAvatar.addEventListener("click", async (e) => {
                await requestAvatar();
              });

              const saveAvatarBtn = document.getElementById("save-avatar");
              saveAvatarBtn && saveAvatarBtn.addEventListener("click", async (e) => {
                await saveAvatar(document.getElementById("avatar-img").src);
              });
      }
    }

    const saveAvatar = async (url) => {
      const userid = "<%= user._id %>;"
      try {
        const response = await fetch("/users/update/" + userid, {
          method: "post",
          credentials: "include",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({profileUrl: url})
        });
        const data = await response.json();
        console.log(data);

        if(data.ok){
          window.location.href = "/";
        }
      } catch (error) {
        alert("An Error Occured Please try again");
      }

    }

  </script>
  <%- include("partials/footer") %>