<%- include("partials/head", {user: user}) %> 
<link rel="stylesheet" href="/partials-css/nav.css">
<link rel="stylesheet" href="/home.css">
</head>
<body>
  <%-  include('partials/nav', {user: ""}); %> 
  <main id="main" class="container-sm p-4 d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-uppercase  mb-4" style="margin: 1rem auto;">Home Page</h2>

    <!-- create-post -->
    <div class="create-posts shadow p-3 mb-5 bg-body rounded">
      <div class="card mb-1 shadow-sm p-3 mb-5 bg-body rounded" style="max-width: 530px;">
        <div class="row g-0 ">
          <div style="margin-top: 3%;"  class=" col-sm-2  text-center">
            <div style="display: flex;  align-items: center;">
              <a href="/profile/<%= user._id %> ">
                <img class = "create-post-img img-thumbnail" src = " <%= user.profileUrl %> " class="img-fluid rounded-start" alt="Users profile">
              </a>
              <a class="create-post-name card-title" href=" /profile/<%= user._id %> "> <%= user.name %> </a>
            </div>
          </div>
          <div class="col-md-0">
            <div class="card-body">
              <form  action="/users/post/<%= user._id %>" method="post">
                <div class="form-floating mb-1">
                  <input required type="text" class="form-control" name="postTextContent">
                  <label for="postTextContent">What is in your mind <%= user.name %> ?</label>
                </div>
                <input style="float: right; margin: 0.4rem auto;" class="me-md-2 btn btn-primary" type="submit" value="Upload">
              </form>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-uppercase  mb-4" style="margin: 1rem auto;">Feed</h3>
    <section id="feed"  class="container" >
      <div class="posts">
        <% posts.forEach(post => { %>
          <div class="card mb-3 shadow-sm p-3 mb-5 bg-body rounded" style="max-width: 530px;">
            <div class="row g-0 p-0">
                <div class="col-md-4 text-center p-1">
                  <a href="/profile/<%= user._id %> ">
                    <img class="post-img img-thumbnail" src="<%= post.authorProfileUrl %> " class="img-fluid rounded-start" alt="Users profile">
                  </a>
                </div>
              <div class="col-md-8">
                <div class="card-body">
                  <a class="post-name" href="/profile/<%= user._id %> "><h5 class="card-title"><%= post.author %> </h5></a>
                  <p class="card-text"><%= post.content %> </p>
                  <p class="card-text"><small class="text-muted"><%= post.createdAt.toUTCString() %> </small></p>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </section>
  </main>
  <%- include("partials/footer") %> 